<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>y u bully me?</title>
</head>
<body>
    <h1>留言板</h1>
    <a href="signup"> 登录 </a>
    <div class="msgform">
        <form method="post" action='submit'>
            {% csrf_token %}
            {{ form }}
            <p4>username</p4>
            <input type="text" name="username">
            <br>
            <br>
            <p4>content</p4>
            <textarea name="content" rows="3" cols="20"></textarea>
            <br>
            <br>
            <div class="btn">
                <button> 提交 </button>
            </div>
        </form>
    </div>

    <div class="msgshow">
        {% for message in message_list %}
            <p>-----------------------------------------</p>
            <p>{{ message.username }} 在{{ message.timestamp }}发表了</p>
            <p>{{ message.content }}</p>
        {% endfor %}
    </div>
</body>
</html>