

#menu{
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 600px;
    height: 48px;
    max-height: 44px;
    font-size: 16px;
    font-family: "Helvetica";
}

#menu .menu-content{
    float: left;
    text-align: center;
    width: 100%;
}

#menu .ac-gn-list {
    cursor: default;
    color: #ffffff;
    margin: 0 -10px;
    width: auto;
    height: 44px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    -ms-user-select: none;
    text-align: center;
}

#menu .ac-gn-list .ac-*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 44px;
    width: 50px;
    z-index: 1;
    vertical-align: top;
}

li{
    display: inline-block;
    text-align: center;
    margin-top: 11px;
    opacity: 0.8;
    width: 200px;
}


a:link, a:visited {color: rgb(245, 245, 247); text-decoration: none; font-size: 1.2em;}