<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/message/css/navigation.css">
    <title>Success</title>
</head>
<body>
    <nav id="menu">
        <div class="menu-content">
            <ul class="ac-gn-list">
                <li class="ac-index">
                    <a href="{% url 'message:home' %}" class="ac-gn-test">
                        <span class="ac-gn-text">Home</span>
                    </a>
                </li>
                <li class="ac-login">
                    <a href="{% url 'message:login' %}" class="ac-gn-test">
                        <span class="ac-gn-text">Login</span>
                    </a>
                </li>
                <li class="ac-signup">
                    <a href="{% url 'message:register' %}" class="ac-gn-test">
                        <span class="ac-gn-text">Register</span>
                    </a>
                </li>
                <li class="ac-farewell">
                    <a href="{% url 'message:logout' %}" class="ac-gn-test">
                        <span class="ac-gn-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="hello">
        <br />
        <h1>Forbbiden!</h1>
        <a href="{% url 'message:home' %}">click here to return home.</a>
    </div>
</body>
</html>